In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
df=pd.read_csv("kidney_disease.csv")
df.set_index('id', inplace=True)
df

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
id,,,,,,,,,,,,,,,,,,,,,
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [3]:

df.rename(columns={'bp': 'blood_pressure', 'sg': 'specific gravity','al':'albumin','su':'sugar','rbc':'red blood cells','pc':'pus cell','pcc':'pus cell clumps','ba':'bacteria','bgr':'blood glucose random','bu':'blood urea','sc':'serum creatinine','sod':'sodium','pot':'potassium','hemo':'hemoglobin','pcv':'packed cell volume','wc':'white blood cell count','rc':'red blood cell count','htn':'hypertension','dm':'diabetes mellitus','cad':'coronary artery disease','appet':'appetite','pe':'pedal edema','ane':'anemia','classification':'class'},inplace=True)
df

,age,blood_pressure,specific gravity,albumin,sugar,red blood cells,pus cell,pus cell clumps,bacteria,blood glucose random,...,packed cell volume,white blood cell count,red blood cell count,hypertension,diabetes mellitus,coronary artery disease,appetite,pedal edema,anemia,class
id,,,,,,,,,,,,,,,,,,,,,
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      391 non-null    float64
 1   blood_pressure           388 non-null    float64
 2   specific gravity         353 non-null    float64
 3   albumin                  354 non-null    float64
 4   sugar                    351 non-null    float64
 5   red blood cells          248 non-null    object
 6   pus cell                 335 non-null    object
 7   pus cell clumps          396 non-null    object
 8   bacteria                 396 non-null    object
 9   blood glucose random     356 non-null    float64
 10  blood urea               381 non-null    float64
 11  serum creatinine         383 non-null    float64
 12  sodium                   313 non-null    float64
 13  potassium                312 non-null    float64
 14  hemoglobin               348 non-null    float64
 15  packed cell volume       330 non-null    object
 16  white blood cell count   295 non-null    object
 17  red blood cell count     270 non-null    object
 18  hypertension             398 non-null    object
 19  diabetes mellitus        398 non-null    object
 20  coronary artery disease  398 non-null    object
 21  appetite                 399 non-null    object
 22  pedal edema              399 non-null    object
 23  anemia                   399 non-null    object
 24  class                    400 non-null    object
dtypes: float64(11), object(14)
memory usage: 81.2+ KB

In [5]:
df.apply(lambda x: pd.unique(x).tolist())

age                        [48.0, 7.0, 62.0, 51.0, 60.0, 68.0, 24.0, 52.0...
blood_pressure             [80.0, 50.0, 70.0, 90.0, nan, 100.0, 60.0, 110...
specific gravity                      [1.02, 1.01, 1.005, 1.015, nan, 1.025]
albumin                                  [1.0, 4.0, 2.0, 3.0, 0.0, nan, 5.0]
sugar                                    [0.0, 3.0, 4.0, 1.0, nan, 2.0, 5.0]
red blood cells                                      [nan, normal, abnormal]
pus cell                                             [normal, abnormal, nan]
pus cell clumps                                   [notpresent, present, nan]
bacteria                                          [notpresent, present, nan]
blood glucose random       [121.0, nan, 423.0, 117.0, 106.0, 74.0, 100.0,...
blood urea                 [36.0, 18.0, 53.0, 56.0, 26.0, 25.0, 54.0, 31....
serum creatinine           [1.2, 0.8, 1.8, 3.8, 1.4, 1.1, 24.0, 1.9, 7.2,...
sodium                     [nan, 111.0, 142.0, 104.0, 114.0, 131.0, 138.0...
potassium                  [nan, 2.5, 3.2, 4.0, 3.7, 4.2, 5.8, 3.4, 6.4, ...
hemoglobin                 [15.4, 11.3, 9.6, 11.2, 11.6, 12.2, 12.4, 10.8...
packed cell volume         [44, 38, 31, 32, 35, 39, 36, 33, 29, 28, nan, ...
white blood cell count     [7800, 6000, 7500, 6700, 7300, nan, 6900, 9600...
red blood cell count       [5.2, nan, 3.9, 4.6, 4.4, 5, 4.0, 3.7, 3.8, 3....
hypertension                                                  [yes, no, nan]
diabetes mellitus                          [yes, no,  yes, \tno, \tyes, nan]
coronary artery disease                                 [no, yes, \tno, nan]
appetite                                                   [good, poor, nan]
pedal edema                                                   [no, yes, nan]
anemia                                                        [no, yes, nan]
class                                                   [ckd, ckd\t, notckd]
dtype: object

In [6]:
df['age'].fillna(df['age'].mean(),inplace=True)
df['blood_pressure'].fillna(df['blood_pressure'].mean(),inplace=True)
df['specific gravity'].fillna(df['specific gravity'].mean(),inplace=True)
df['albumin'].fillna(df['albumin'].mean(),inplace=True)
df['sugar'].fillna(df['sugar'].mean(),inplace=True)
df['blood glucose random'].fillna(df['blood glucose random'].mean(),inplace=True)
df['blood urea'].fillna(df['blood urea'].mean(),inplace=True)
df['serum creatinine'].fillna(df['serum creatinine'].mean(),inplace=True)
df['sodium'].fillna(df['sodium'].mean(),inplace=True)
df['potassium'].fillna(df['potassium'].mean(),inplace=True)
df['hemoglobin'].fillna(df['hemoglobin'].mean(),inplace=True)

df['white blood cell count'].fillna(df['white blood cell count'].mode()[0],inplace=True)
df['red blood cell count'].fillna(df['red blood cell count'].mode()[0],inplace=True)
df['packed cell volume'].fillna(df['packed cell volume'].mode()[0],inplace=True)

df['bacteria'].fillna(df['bacteria'].mode()[0],inplace=True)
df['red blood cells'].fillna(df['red blood cells'].mode()[0],inplace=True)
df['hypertension'].fillna(df['hypertension'].mode()[0],inplace=True)
df['diabetes mellitus'].fillna(df['diabetes mellitus'].mode()[0],inplace=True)
df['coronary artery disease'].fillna(df['coronary artery disease'].mode()[0],inplace=True)
df['appetite'].fillna(df['appetite'].mode()[0],inplace=True)
df['pedal edema'].fillna(df['pedal edema'].mode()[0],inplace=True)
df['anemia'].fillna(df['anemia'].mode()[0],inplace=True)
df['pedal edema'].fillna(df['pedal edema'].mode()[0],inplace=True)
df['pus cell'].fillna(df['pus cell'].mode()[0],inplace=True)
df['pus cell clumps'].fillna(df['pus cell clumps'].mode()[0],inplace=True)
df

,age,blood_pressure,specific gravity,albumin,sugar,red blood cells,pus cell,pus cell clumps,bacteria,blood glucose random,...,packed cell volume,white blood cell count,red blood cell count,hypertension,diabetes mellitus,coronary artery disease,appetite,pedal edema,anemia,class
id,,,,,,,,,,,,,,,,,,,,,
0,48.0,80.0,1.020,1.0,0.0,normal,normal,notpresent,notpresent,121.000000,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,normal,normal,notpresent,notpresent,148.036517,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.000000,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.000000,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.000000,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.000000,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.000000,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.000000,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.000000,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [7]:
df.isnull().sum()

age                        0
blood_pressure             0
specific gravity           0
albumin                    0
sugar                      0
red blood cells            0
pus cell                   0
pus cell clumps            0
bacteria                   0
blood glucose random       0
blood urea                 0
serum creatinine           0
sodium                     0
potassium                  0
hemoglobin                 0
packed cell volume         0
white blood cell count     0
red blood cell count       0
hypertension               0
diabetes mellitus          0
coronary artery disease    0
appetite                   0
pedal edema                0
anemia                     0
class                      0
dtype: int64

In [8]:
df["bacteria"]=df["bacteria"].map({"present": 1, "notpresent": 0})
df["class"]=df["class"].map({"ckd": 1, "notckd": 0,'ckd\t' : 2})
df["anemia"]=df["anemia"].map({"yes": 1, "no": 0})
df["diabetes mellitus"]=df["diabetes mellitus"].map({"yes": 1, "no": 0,' yes': 1,"\tno":2,"\tyes":3})
df["coronary artery disease"]=df["coronary artery disease"].map({"yes": 1, "no": 0,'\tno' : 2})
df["hypertension"]=df["hypertension"].map({"yes": 1, "no": 0})
df["pedal edema"]=df["pedal edema"].map({"yes": 1, "no": 0})
df["appetite"]=df["appetite"].map({"good": 1, "poor": 0})
df["red blood cells"]=df["red blood cells"].map({"normal":1, "abnormal":0})
df["pus cell"]=df["pus cell"].map({"present":1, "notpresent":0})
df["pus cell clumps"]=df["pus cell clumps"].map({"Yes":1, "no":0})
df

,age,blood_pressure,specific gravity,albumin,sugar,red blood cells,pus cell,pus cell clumps,bacteria,blood glucose random,...,packed cell volume,white blood cell count,red blood cell count,hypertension,diabetes mellitus,coronary artery disease,appetite,pedal edema,anemia,class
id,,,,,,,,,,,,,,,,,,,,,
0,48.0,80.0,1.020,1.0,0.0,1,NaN,NaN,0,121.000000,...,44,7800,5.2,1,1,0,1,0,0,1
1,7.0,50.0,1.020,4.0,0.0,1,NaN,NaN,0,148.036517,...,38,6000,5.2,0,0,0,1,0,0,1
2,62.0,80.0,1.010,2.0,3.0,1,NaN,NaN,0,423.000000,...,31,7500,5.2,0,1,0,0,0,1,1
3,48.0,70.0,1.005,4.0,0.0,1,NaN,NaN,0,117.000000,...,32,6700,3.9,1,0,0,0,1,1,1
4,51.0,80.0,1.010,2.0,0.0,1,NaN,NaN,0,106.000000,...,35,7300,4.6,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,1,NaN,NaN,0,140.000000,...,47,6700,4.9,0,0,0,1,0,0,0
396,42.0,70.0,1.025,0.0,0.0,1,NaN,NaN,0,75.000000,...,54,7800,6.2,0,0,0,1,0,0,0
397,12.0,80.0,1.020,0.0,0.0,1,NaN,NaN,0,100.000000,...,49,6600,5.4,0,0,0,1,0,0,0
398,17.0,60.0,1.025,0.0,0.0,1,NaN,NaN,0,114.000000,...,51,7200,5.9,0,0,0,1,0,0,0
399,58.0,80.0,1.025,0.0,0.0,1,NaN,NaN,0,131.000000,...,53,6800,6.1,0,0,0,1,0,0,0

In [9]:
df.isnull().sum()

age                          0
blood_pressure               0
specific gravity             0
albumin                      0
sugar                        0
red blood cells              0
pus cell                   400
pus cell clumps            400
bacteria                     0
blood glucose random         0
blood urea                   0
serum creatinine             0
sodium                       0
potassium                    0
hemoglobin                   0
packed cell volume           0
white blood cell count       0
red blood cell count         0
hypertension                 0
diabetes mellitus            0
coronary artery disease      0
appetite                     0
pedal edema                  0
anemia                       0
class                        0
dtype: int64

In [10]:
df.apply(lambda x: pd.unique(x).tolist())

age                        [48.0, 7.0, 62.0, 51.0, 60.0, 68.0, 24.0, 52.0...
blood_pressure             [80.0, 50.0, 70.0, 90.0, 76.46907216494846, 10...
specific gravity           [1.02, 1.01, 1.005, 1.015, 1.0174079320113256,...
albumin                    [1.0, 4.0, 2.0, 3.0, 0.0, 1.0169491525423728, ...
sugar                      [0.0, 3.0, 4.0, 1.0, 0.45014245014245013, 2.0,...
red blood cells                                                       [1, 0]
pus cell                                                               [nan]
pus cell clumps                                                        [nan]
bacteria                                                              [0, 1]
blood glucose random       [121.0, 148.0365168539326, 423.0, 117.0, 106.0...
blood urea                 [36.0, 18.0, 53.0, 56.0, 26.0, 25.0, 54.0, 31....
serum creatinine           [1.2, 0.8, 1.8, 3.8, 1.4, 1.1, 24.0, 1.9, 7.2,...
sodium                     [137.52875399361022, 111.0, 142.0, 104.0, 114....
potassium                  [4.627243589743592, 2.5, 3.2, 4.0, 3.7, 4.2, 5...
hemoglobin                 [15.4, 11.3, 9.6, 11.2, 11.6, 12.2, 12.4, 10.8...
packed cell volume         [44, 38, 31, 32, 35, 39, 36, 33, 29, 28, 41, 1...
white blood cell count     [7800, 6000, 7500, 6700, 7300, 9800, 6900, 960...
red blood cell count       [5.2, 3.9, 4.6, 4.4, 5, 4.0, 3.7, 3.8, 3.4, 2....
hypertension                                                          [1, 0]
diabetes mellitus                                               [1, 0, 2, 3]
coronary artery disease                                            [0, 1, 2]
appetite                                                              [1, 0]
pedal edema                                                           [0, 1]
anemia                                                                [0, 1]
class                                                              [1, 2, 0]
dtype: object

In [12]:
#Part1: supervised learning


x=df[["Age","blood_pressure","specific gravity","albumin","sugar","red blood cells" ,"pus cell","pus cell clumps","bacteria","blood glucose random","blood urea" ,"serum creatinine","sodium", 
      "potassium","hemoglobin","packed cell volume","white blood cell count","red blood cell count","hypertension","diabetes mellitus","coronary artery disease","appetite","pedal edema","anemia"]]
y=df["class"]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)  
logreg = LogisticRegression()   
logreg.fit(x_train, y_train) 
y_pred  = logreg.predict(x_test)   
print("Accuracy={:.2f}".format(logreg.score(x_test, y_test)))

KeyError: "['Age'] not in index"

In [13]:
import seaborn as sns
confusion_matrix = pd.crosstab(y_test, y_pred, rownames=['Actual'], colnames=['Predicted'])
sns.heatmap(confusion_matrix, annot=True)

NameError: name 'y_test' is not defined

In [14]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

NameError: name 'y_test' is not defined

In [15]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=30)

knn=KNeighborsClassifier(n_neighbors=9) 
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)
print('Acuuracy=',accuracy_score(y_pred,y_test))

NameError: name 'x' is not defined

In [16]:
n_neighbors=30
scores=[]
for k in range(1,30):
    knn=KNeighborsClassifier(n_neighbors-k)
    knn.fit(x_train,y_train)
    y_pred=knn.predict(x_test)
    print('Accuracy for k=',k,'is:',round(accuracy_score(y_pred,y_test),2))
    scores.append(round(accuracy_score(y_pred,y_test),2))

NameError: name 'x_train' is not defined

In [18]:

from sklearn import tree   
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)
tree = tree.DecisionTreeClassifier()  
tree.fit(x_train, y_train)
y_pred=tree.predict(x_test)   
print("score:{}".format(accuracy_score(y_test, y_pred)))

NameError: name 'x' is not defined

In [19]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=85)
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)
rf=metrics.accuracy_score(y_test, y_pred)
rf

NameError: name 'x_train' is not defined

In [20]:
# Part2: unsupervised learning

df.drop('class', inplace=True, axis=1)
df

,age,blood_pressure,specific gravity,albumin,sugar,red blood cells,pus cell,pus cell clumps,bacteria,blood glucose random,...,hemoglobin,packed cell volume,white blood cell count,red blood cell count,hypertension,diabetes mellitus,coronary artery disease,appetite,pedal edema,anemia
id,,,,,,,,,,,,,,,,,,,,,
0,48.0,80.0,1.020,1.0,0.0,1,NaN,NaN,0,121.000000,...,15.4,44,7800,5.2,1,1,0,1,0,0
1,7.0,50.0,1.020,4.0,0.0,1,NaN,NaN,0,148.036517,...,11.3,38,6000,5.2,0,0,0,1,0,0
2,62.0,80.0,1.010,2.0,3.0,1,NaN,NaN,0,423.000000,...,9.6,31,7500,5.2,0,1,0,0,0,1
3,48.0,70.0,1.005,4.0,0.0,1,NaN,NaN,0,117.000000,...,11.2,32,6700,3.9,1,0,0,0,1,1
4,51.0,80.0,1.010,2.0,0.0,1,NaN,NaN,0,106.000000,...,11.6,35,7300,4.6,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,1,NaN,NaN,0,140.000000,...,15.7,47,6700,4.9,0,0,0,1,0,0
396,42.0,70.0,1.025,0.0,0.0,1,NaN,NaN,0,75.000000,...,16.5,54,7800,6.2,0,0,0,1,0,0
397,12.0,80.0,1.020,0.0,0.0,1,NaN,NaN,0,100.000000,...,15.8,49,6600,5.4,0,0,0,1,0,0
398,17.0,60.0,1.025,0.0,0.0,1,NaN,NaN,0,114.000000,...,14.2,51,7200,5.9,0,0,0,1,0,0
399,58.0,80.0,1.025,0.0,0.0,1,NaN,NaN,0,131.000000,...,15.8,53,6800,6.1,0,0,0,1,0,0

In [21]:
from sklearn.cluster import AgglomerativeClustering
import matplotlib.pyplot as plt
import scipy.cluster.hierarchy as shc
from sklearn.cluster import KMeans
model=AgglomerativeClustering(n_clusters=5,affinity="euclidean",linkage='complete')
clust_labels = model.fit_predict(df)
plt.colorbar(scatter)

NameError: name 'AgglomerativeClustering' is not defined

In [22]:
kmeans=KMeans(n_clusters=5,random_state=40)
kmeans.fit(df)

NameError: name 'KMeans' is not defined